body{
    background-size: cover; 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0px;
    background :#3f4142;
}

header{
    width: 100vw; 
    height: 70px; 
    background: #0f9eb8; 
    box-shadow: 0px 4px 14px 2px;
}

main{
    display: flex; 
    text-align: center;
    background: darkgrey;
}

#searchItemContainer{
    background: whitesmoke url('Images/citySkyline.png'); 
    background-size: cover;
    height: 600px; 
    width: 90vw; 
    max-width: 1200px;
    margin: auto;
    margin-top: 60px; 
    border-radius: 10px;
    box-shadow: 0px 4px 14px 2px;
    display:flex;
    flex-wrap: wrap;
}

.searchItem{
    display: flex;
    flex-wrap: wrap;
    width: 29%;
    box-shadow: 0px 4px 14px 2px;
    background: white;
    height: 25%;
    border-radius: 10px;
    margin:2%; 
    margin-top: -100px;
}

.searchItem:hover{
    box-shadow: 0px 4px 20px 4px;
}

.searchItem p{
    font-size: 22px;
    width: 100%;
    margin:auto;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    background: rgba(0, 0, 0, .65); 
}

.searchItem h{
    font-size: 15px;
    width: 20%;
    margin-left: 10%;
    height: 30px;
    margin-top: 2%;
}

.searchItem Input{
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.searchItem select{
    width: 60%;
    height: 30px;
    font-size: 15px;
}

.prompt{
    background: url('Images/promptShade.png'); 
    background-size: cover;
    height: 100vh; 
    width: 100vw; 
    position: absolute; 
    top: 0px;
    left: 0px;
    display: flex;
    display:none; 
}

.promptContent{ 
    background: white;
    border-radius: 15px;
    box-shadow: 0px 4px 14px 2px;
    margin:auto;
    padding: 10px 2.5% 30px 2.5%;
    display: flex;
    flex-wrap: wrap;
}

.promptContent Input{
    height: 40px; 
    width: 48.5%;
    font-size: 20px;
    margin-right: 3%;
    border-radius: 5px;
}

.promptContent select{
    height: 45px;
    width: 47.5%;
    font-size: 20px;
}

.closePrompt{
    position: absolute; 
    top: 10px;
    right: 10px; 
    background: white; 
    padding: 15px;
    border-radius: 10px;
}



